body {
  background: #555;
  color: #aaa;
}

.interface {
  padding: 10px;
}

.font {
  display: flex;
  margin-bottom: 2px;
}

.font .title {
  padding: 10px;
  font-size: 12px;
  flex: 0 0 100px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 2px;
}

.font .legend {
  padding: 10px 5px 10px 10px;
  flex: 0 0 40px;
  background: rgba(0, 0, 0, 0.2);
  color: #777;
  margin-right: 2px;
  text-align: right;
}

  .legend-size {
    display: none;
    line-height: 1.5;
  }

.samples {
  flex: 1 1 auto;
  align-content: stretch;
  display: flex;
}

  .light .variant {
    background: #fff; color: #000;
  }

  .semi-light .variant {
    background: #ccc; color: #333;
  }

  .dark .variant {
    background: #000; color: #fff;
  }

  .semi-dark .variant {
    background: #333; color: #ccc;
  }

.variant {
  flex: 1 0;
  display: none;
  padding: 10px;
  margin-right: 2px;
}

  .regular .variant.regular,
  .italic .variant.italic,
  .bold .variant.bold,
  .bold-italic .variant.bold-italic {
    display: block;
  }

.sample {
  display: none;
  line-height: 1.5;
}

  .size-7 .size-7,
  .size-8 .size-8,
  .size-9 .size-9,
  .size-10 .size-10,
  .size-11 .size-11,
  .size-12 .size-12,
  .size-13 .size-13,
  .size-14 .size-14,
  .size-15 .size-15,
  .size-16 .size-16 {
    display: block;
  }

  .sample:not(:last-child) {
  }
