body {
  background: #555;
  color: #aaa;
}

.interface {
  padding: 10px;
}

.font {
  display: flex;
  margin-bottom: 10px;
}

.font .title {
  padding: 10px;
  flex: 0 0 100px;
}

.samples {
  padding: 10px;
  flex: 1 1;
  display: flex;
}

  .light .samples {
    background: #fff; color: #000;
  }

  .semi-light .samples {
    background: #ccc; color: #333;
  }

  .dark .samples {
    background: #000; color: #fff;
  }

  .semi-dark .samples {
    background: #333; color: #ccc;
  }

.variant {
  flex: 1 0;
  display: none;
}

  .regular .variant.regular,
  .italic .variant.italic,
  .bold .variant.bold,
  .bold-italic .variant.bold-italic {
    display: block;
  }

.sample {
  display: none;
}

  .size-7 .sample.size-7,
  .size-8 .sample.size-8,
  .size-9 .sample.size-9,
  .size-10 .sample.size-10,
  .size-11 .sample.size-11,
  .size-12 .sample.size-12,
  .size-13 .sample.size-13,
  .size-14 .sample.size-14,
  .size-15 .sample.size-15,
  .size-16 .sample.size-16 {
    display: block;
  }

  .sample:not(:last-child) {
    margin-bottom: 5px;
  }
